.profile__edit-button {
    width: 24px;
    height: 24px;
    margin-top: 14px;
    padding: 0;
    background-size: 10px;
    background: no-repeat center url(../../../images/edit-button.svg);
    border: 1px solid #fff;
    box-sizing: border-box;
    cursor: pointer;
    transition: opacity .5s linear;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
        height: 18px;
        width: 18px;
        margin-top: 1px;
        background-size: 7.5px;
    }
}