.photo-grid__title {
    max-width: 190px;
    padding: 0;
    margin: 26px 0 24px 22px;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.2;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}