.profile__edit-button {
    width: 24px;
    margin: 14px 0 0 6px;
    height: 24px;
    padding: 0;
    border: 1px solid #fff;
    box-sizing: border-box;
    background-size: 10px;
    background: no-repeat center url(../../../images/-2-profile/edit.svg);
    cursor: pointer;
    transition: opacity .5s linear;
}

.profile__edit-button:hover {
    opacity: .6;
}

@media screen and (max-width: 767px) {
    .profile__edit-button {
        margin-top: 1px;
        width: 18px;
        height: 18px;
        background-size: 7.5px;
    }
}