.profile__info {
    display: flex;
    max-width: 336px;
    margin: 22px 244px 28px 0;
    flex-wrap: wrap;
    color: #fff;
}

@media screen and (max-width: 1023px) {
    .profile__info {
        margin: 22px 84px 25px 0;
    }
}

@media screen and (max-width: 767px) {
    .profile__info {
        max-width: 282px;
        margin: 26px 0 32px;
        align-items: center;
    }
}